<div class="header">
  <app-header></app-header>
  <div class="row">
    <div class="col">
      <aside>
        <div class="sidebar_wrap">
          <app-sidebar></app-sidebar>
        </div>
      </aside>
    </div>
    <div class="col-9">
      <div class="container-fluid  main-content content_wrapper">
        <div class="overlay"></div>
        <div class="top_head clearfix">
          <div class="main-title float-left">
            Equipments
          </div>
          <div class="float-right">
            <button class="btn btn-secondary " data-target="#EquipmentModal" data-toggle="modal" type="button" (click)="addEquipemnt()">Add New
              Equipment</button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Contact No.</th>
              <th>Email</th>
              <th>Ratings</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action</th>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let equipmentsLists of equipmentConfig?.data">
                  <td><span><img src="{{thumbNailImgPath(equipmentsLists.images, equipmentsLists.image_uid)}}" alt=""></span></td>
                  <td>{{equipmentsLists?.name}}</td>
                  <td>{{equipmentsLists?.desc}}</td>
                  <td>{{equipmentsLists?.contact_no}}</td>
                  <td>{{equipmentsLists?.email_id}}</td>
                  <td>{{equipmentsLists?.rating}}</td>
                  <td class="text-center"><span class="active st_btn" *ngIf="equipmentsLists?.status == 'Active'"
                      (click)="changeStatus('Inactive',equipmentsLists.id)">Active</span>
                    <span class="inactive st_btn" *ngIf="equipmentsLists?.status == 'Inactive'"
                      (click)="changeStatus('Active',equipmentsLists.id)">Inactive</span>
                  </td>
                  <td class="text-center">
                    <i data-target="#EquipmentModal" data-toggle="modal" (click)="setForm(equipmentsLists)" class="fa fa-pencil p-2" aria-hidden="true"></i>
                    <i title="Delete" class="fa fa-trash text-danger" data-target="#EquipmentDeleteModal" data-toggle="modal"
                      (click)="deleteAction(equipmentsLists.id)"></i>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <ng-template [ngIf]="equipmentConfig?.total > 10">
            <div class="container mt-4 mb-4">
              <pagination [boundaryLinks]="true" [totalItems]="equipmentConfig?.total"
                [itemsPerPage]="equipmentConfig?.per_page" [maxSize]="maxSize" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;"></pagination>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Model Popup -->

<div class="modal fade" id="EquipmentModal" tabindex="-1" role="dialog" aria-labelledby="EquipmentModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <div class="modal-body">
                <div class="text-center">
                  <h5><b>{{config.action == 'edit' ? 'Edit' : 'Add' }} Equipment</b></h5>
                </div>
                <div class="container  mt-4 register-form">
                  <form [formGroup]="form">
                    <div class="form-content">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Name : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="text" formControlName="name" placeholder="Equipment Name" class="form-control"
                                required>
                              <div *ngIf="formService.validate(form,'name')" class="invalid-feed">Equipment name is Required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Description : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="text" formControlName="desc" placeholder="Equipment Description"
                                class="form-control" required>
                              <div *ngIf="formService.validate(form,'desc')" class="invalid-feed">Description is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Category : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <select formControlName="category_id" class="form-control">
                                <option value="" selected>--Select Category--</option>
                                <option [value]="cat.id" *ngFor="let cat of config.catList">{{ cat.name }}</option>
                              </select>
                              <div *ngIf="formService.validate(form,'category_id')" class="invalid-feed">Category is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Sub Category : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <select formControlName="subcategory_id" class="form-control">
                                <option value="" disabled selected>--Select Sub Category--</option>
                                <option [value]="cat.id" *ngFor="let cat of config.subCatList">{{ cat.name }}</option>
                              </select>
                              <div *ngIf="formService.validate(form,'desc')" class="invalid-feed">Sub-Category is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Type : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <select formControlName="type_id" class="form-control">
                                <option hidden value="" disabled selected>--Select Type--</option>
                                <option [value]="cat.id" *ngFor="let cat of config.type">{{ cat.name }}</option>
                              </select>
                              <div *ngIf="formService.validate(form,'type_id')" class="invalid-feed">Type is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Special Instruction : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="text" formControlName="special_instructions" placeholder="Special Instruction"
                                class="form-control" required>
                              <div *ngIf="formService.validate(form,'special_instructions')" class="invalid-feed">Special instruction is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Start Date : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="text" formControlName="allocation_start_date" placeholder="Start Date"
                                class="form-control" [bsConfig]="datePickerConfig"  bsDatepicker>
                              <div *ngIf="formService.validate(form,'allocation_start_date')" class="invalid-feed">Start Date is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>End Date : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="text" formControlName="allocation_end_date" placeholder="End Date"
                                class="form-control" [bsConfig]="datePickerConfig"  bsDatepicker>
                              <div *ngIf="formService.validate(form,'allocation_end_date')" class="invalid-feed">End Date is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Time Allocation : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              timepicker
                              <!-- <timepicker [formControlName]="'allocation_time'"></timepicker> -->
                              <div *ngIf="formService.validate(form,'allocation_time')" class="invalid-feed">Time Allocation is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Contact No. : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="number" formControlName="contact_no" placeholder="Contact Number"
                                class="form-control" >
                              <div *ngIf="formService.validate(form,'contact_no')" class="invalid-feed">Contact Number is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>E-mail : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="email" formControlName="email_id" placeholder="Email"
                                class="form-control" >
                              <div *ngIf="formService.validate(form,'email_id')" class="invalid-feed">Email is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Equipment Rating (In Stars. For Eg. 3/2/1) : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="number" class="form-control" formControlName="rating" />
                              <!-- <rating [max]="'5'" (onHover)="hoveringOver($event)" formControlName="rating"></rating> -->
                              <!-- <input type="email" formControlName="rating" placeholder="Email"
                                class="form-control" > -->
                              <div *ngIf="formService.validate(form,'rating')" class="invalid-feed">
                                Rating should be in between 1 to 5.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Images : <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input type="file" formControlName="images" class="form-control" (change)="onFileChange($event)"  multiple />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Video Link :</label>
                            <div class="input-group">
                              <input type="text" formControlName="video_link" placeholder="Enter video link"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="config.editData.images.images && config.editData.images.images.length">
                        <div class="col-md-3" *ngFor="let img of config.editData.images.images; let i = index">
                          <div class="img_box">
                            <i class="fa fa-times-circle" title="delete" (click)="deleteImage(i, img.name)"></i>
                            <!-- <img src="../../../assets/img/publicPage/no-image.jpg" alt="image" /> -->
                            <img [src]="img.url" alt="image" />
                          </div>
                        </div>
                      </div>

                      <div class="text-right mt-4">
                        <button type="submit" class="btn btn-secondary closebtn"
                          (click)="createEquipment()">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="modal fade" id="EquipmentDeleteModal" tabindex="-1" role="dialog" aria-labelledby="RaceTracksDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body px-1">
        <div class="text-center">
          <h5><b>Are you sure to delete Equipment?</b></h5>
          <hr>
          <button type="button" class="btn btn-info mr-3" data-dismiss="modal" aria-label="Close">Cancel</button>
          <button type="button" class="btn btn-success" (click)="deleteSubmit()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>