
.beadcrumb{
    font-family: 'Poppins';
    background: #131b2f;
    padding: 30px 0;
}
.beadcrumb ul{
    padding: 0;
}
.beadcrumb li{
    display: inline-block;
    color: #dd0e0e;
    font-size: 20px;

}
.beadcrumb li a{
    color: #fff;
}
.beadcrumb li a:hover{
    color: #dd0e0e;
}
.privacy-content {
    font-family: 'Poppins';
    background: #131b2f;
    font-weight: normal;
    color: #999;
}
.privacy-content .text-div {
    margin: 0 0 40px;
}
.privacy-content h3 {
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 0 0 20px;
    margin: 0 0 10px;
}
.privacy-content p {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    font-family: "Poppins";
    font-family: 100;
}