<footer class="darck-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="footer-icon">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a routerLink="/about">About Race Track</a></li>
            <li><a routerLink="/locations">Our Locations</a></li>
            <li><a routerLink="/mechanics">Mechanics</a></li>
            <li><a routerLink="/equipments">Race Track Equipments</a></li>
            <li><a routerLink="/events">Events</a></li>
          </ul>
        </div>
        <hr>
        <div class="copy-right">
          <p>All Rights Reserved © Race Track</p>
        </div>
      </div>
    </div>
  </div>

</footer>
