<div class="header">
  <app-header></app-header>
  <div class="row">
    <div class="col">
      <aside>
        <div class="sidebar_wrap">
          <app-sidebar></app-sidebar>
        </div>
      </aside>
    </div>
    <div class="col-9">
      <div class="container-fluid  main-content">
        <div class="overlay"></div>
        <div class="top_head clearfix">
          <div class="main-title float-left">
            Serviceman
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Contact No.</th>
              <th>Email</th>
              <th>Address</th>
              <th>Ratings</th>
              <th class="text-center">Status</th>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let servicemanLists of servicemanList">
                  <td>{{servicemanLists?.name}}</td>
                  <td>{{servicemanLists?.contact_no}}</td>
                  <td>{{servicemanLists?.email_id}}</td>
                  <td>{{servicemanLists?.address}}</td>
                  <td>{{servicemanLists?.rating}}</td>
                  <td class="text-center"><span class="active st_btn" *ngIf="servicemanLists?.status == 'Active'"
                      (click)="changeStatus('Inactive',servicemanLists.id)">Active</span>
                    <span class="inactive st_btn" *ngIf="servicemanLists?.status == 'Inactive'"
                      (click)="changeStatus('Active',servicemanLists.id)">Inactive</span>
                  </td>
                  <!-- <td class="text-center"><i data-target="#updateCategoryModal" data-toggle="modal" (click)="EditForm(subcategories)" class="fa fa-pencil p-2" aria-hidden="true"></i></td> -->
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>


        <div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-body">
                <div class="text-center">
                  <h5><b>Add Subcategories</b></h5>
                </div>
                <div class="container mt-4 register-form">
                  <form [formGroup]="form">
                    <div class="form-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Category Name</label>
                            <div class="input-group">
                              <select name="" class="form-control" formControlName="category_id" (change)="setId()">
                                <option [value]="generalcategories.id"
                                  *ngFor="let generalcategories of generalcategory">
                                  {{generalcategories?.name}}</option>
                              </select>
                              <div *ngIf="formService.validate(servicemanForm,'category_id')" class="invalid-feed">
                                Category Name
                                is
                                Required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Subcategories Name</label>
                            <div class="input-group">
                              <input type="text" formControlName="name" placeholder="Category Name" class="form-control"
                                required>
                              <div *ngIf="formService.validate(form,'name')" class="invalid-feed">Subcategories Name is
                                Required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Description</label>
                            <div class="input-group">
                              <input type="text" formControlName="desc" placeholder="Description" class="form-control"
                                required>
                              <div *ngIf="formService.validate(form,'desc')" class="invalid-feed">Description is
                                Required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <pre>{{form.value | json}}</pre>
                      <div class="text-right mt-4">
                        <button type="submit" [disabled]="!form.valid" class="btn btn-secondary closebtn"
                          data-dismiss="modal" (click)="addsubCatForm()">Save</button> &nbsp;
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"
                          aria-label="Close">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- update SubCategory -->

        <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog"
          aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-body">
                <div class="text-center">
                  <h5><b>Update Subcategories</b></h5>
                </div>
                <div class="container mt-4 register-form">
                  <div class="form-content">
                    <div class="row">
                      <!-- <div class="col-md-12">
                                            <div class="form-group">
                                              <label>Category Name</label>
                                              <div class="input-group">
                                                <select name="" class="form-control" [(ngModel)]="subCatrgoryData.categories_id" [ngModelOptions]="{standalone: true}">
                                                  <option  [value]="generalcategories.id" *ngFor="let generalcategories of generalcategory">
                                                    {{generalcategories.name}}</option>
                                                </select>
                                             
                                              </div>
                                            </div>
                                          </div> -->
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Subcategories Name</label>
                          <div class="input-group">
                            <input type="text" [(ngModel)]="subCatrgoryData.name" [ngModelOptions]="{standalone: true}"
                              rolName="name" placeholder="Category Name" class="form-control" required>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Description</label>
                          <div class="input-group">
                            <input type="text" [(ngModel)]="subCatrgoryData.desc" [ngModelOptions]="{standalone: true}"
                              placeholder="Description" class="form-control" required>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-right mt-4">
                      <button type="submit" class="btn btn-secondary closebtn" data-dismiss="modal"
                        (click)="updateSubCatForm()">Save</button> &nbsp;
                      <button type="button" class="btn btn-cancel" data-dismiss="modal"
                        aria-label="Close">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



